html {
	background-color: #adaaaa;
}

h1 {
	font-weight: bold;
	color: #030356;
	font-family: "Merriweather", serif;
	font-size: 4rem;
	line-height: .5;
}

.listone {
	list-style-type: none;
	padding: 0;
	font-family: "Muli", sans-serif;;
}

a {
color: #fff;
}

a:hover {
	color: #af1f24;
}

h2 {
	font-weight: bold;
	color: #030356;
	font-family: "Merriweather", serif;
	font-size: 2rem;
}
